<div class="flex justify-center">
  <div class="w-fit md:w-1/2">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myUserLabel" appTranslate="userManagement.home.createOrEditLabel">Stwórz lub edytuj użytkownika</h2>

      <alert-error></alert-error>

      <div class="mb-3" [hidden]="!editForm.value.id">
        <mat-form-field appearance="outline" class="w-1/2">
          <mat-label appTranslate="global.field.id">ID</mat-label>
          <input matInput type="text" id="id" name="id" formControlName="id" readonly />
        </mat-form-field>
      </div>

      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-1/2">
          <mat-label appTranslate="userManagement.login">Login</mat-label>
          <input matInput type="text" id="login" name="login" formControlName="login" data-cy="username" />
        </mat-form-field>
        <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
          <mat-error *ngIf="editForm.get('login')?.errors?.required" appTranslate="entity.validation.required">
            To pole jest wymagane.
          </mat-error>

          <mat-error
            *ngIf="editForm.get('login')?.errors?.maxlength"
            appTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            Wartość nie może być dłuższa niż 50 znaków.
          </mat-error>

          <mat-error
            class="form-text text-danger"
            *ngIf="editForm.get('login')?.errors?.pattern"
            appTranslate="entity.validation.patternLogin"
          >
            This field can only contain letters, digits and e-mail addresses.
          </mat-error>
        </div>
      </div>

      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-1/2">
          <mat-label appTranslate="userManagement.firstName">Imię</mat-label>
          <input matInput type="text" id="firstName" name="firstName" formControlName="firstName" />
        </mat-form-field>
        <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
          <mat-error
            *ngIf="editForm.get('firstName')?.errors?.maxlength"
            appTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            Wartość nie może być dłuższa niż 50 znaków.
          </mat-error>
        </div>
      </div>

      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-1/2">
          <mat-label appTranslate="userManagement.lastName">Nazwisko</mat-label>
          <input matInput type="text" id="lastName" name="lastName" formControlName="lastName" />
        </mat-form-field>
        <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
          <mat-error
            class="form-text text-danger"
            *ngIf="editForm.get('lastName')?.errors?.maxlength"
            appTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            Wartość nie może być dłuższa niż 50 znaków.
          </mat-error>
        </div>
      </div>

      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-1/2">
          <mat-label appTranslate="userManagement.email">Email</mat-label>
          <input matInput type="email" id="email" name="email" formControlName="email" />
        </mat-form-field>
        <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
          <mat-error *ngIf="editForm.get('email')?.errors?.required" appTranslate="entity.validation.required">
            To pole jest wymagane.
          </mat-error>

          <mat-error
            *ngIf="editForm.get('email')?.errors?.maxlength"
            appTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 100 }"
          >
            Wartość nie może być dłuższa niż 100 znaków.
          </mat-error>

          <mat-error
            class="form-text text-danger"
            *ngIf="editForm.get('email')?.errors?.minlength"
            appTranslate="entity.validation.minlength"
            [translateValues]="{ min: 5 }"
          >
            Wartość musi mieć długość co najmniej 5 znaków.
          </mat-error>

          <mat-error
            class="form-text text-danger"
            *ngIf="editForm.get('email')?.errors?.email"
            appTranslate="global.messages.validate.email.invalid"
          >
            Twój email jest błędny.
          </mat-error>
        </div>
      </div>

      <div class="form-check">
        <mat-checkbox name="activated" formControlName="activated" [attr.disabled]="editForm.value.id === undefined ? 'disabled' : null">
          {{ 'userManagement.activated' | translate }}
        </mat-checkbox>
      </div>

      <div class="mb-3" *ngIf="languages && languages.length > 0">
        <mat-form-field appearance="outline" class="w-1/2">
          <mat-label appTranslate="settings.form.language">Język</mat-label>
          <mat-select id="langKey" formControlName="langKey" data-cy="langKey">
            <mat-option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-1/2">
          <mat-label appTranslate="settings.form.language">Język</mat-label>
          <mat-select id="authority" formControlName="authorities" name="authority" multiple>
            <mat-option *ngFor="let authority of authorities" [value]="authority">{{ 'enum.' + authority | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button type="button" mat-flat-button (click)="previousState()">
        <mat-icon>close</mat-icon>&nbsp;<span appTranslate="entity.action.cancel">Anuluj</span>
      </button>

      <button type="submit" [disabled]="editForm.invalid || isSaving" mat-flat-button color="primary">
        <mat-icon>save</mat-icon>&nbsp;<span appTranslate="entity.action.save">Zapisz</span>
      </button>
    </form>
  </div>
</div>
