<div>
  <div class="flex justify-center">
    <div class="w-fit md:w-1/2">
      <h2 appTranslate="settings.title" [translateValues]="{ username: settingsForm.value.login }" *ngIf="settingsForm.value.login">
        Ustawienia dla użytkownika [<strong>{{ settingsForm.value.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success" appTranslate="settings.messages.success">
        <strong>Ustawienia zapisane!</strong>
      </div>

      <alert-error></alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.value.login" novalidate>
        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label appTranslate="settings.form.firstname">Nazwa użytkownika</mat-label>
            <input
              matInput
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              placeholder="{{ 'settings.form.firstname.placeholder' | translate }}"
              formControlName="firstName"
              data-cy="firstname"
            />
          </mat-form-field>

          <div
            *ngIf="
              settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)
            "
          >
            <mat-error
              class="form-text text-danger"
              *ngIf="settingsForm.get('firstName')?.errors?.required"
              appTranslate="settings.messages.validate.firstname.required"
            >
              Twoje imię jest wymagane.
            </mat-error>

            <mat-error
              class="form-text text-danger"
              *ngIf="settingsForm.get('firstName')?.errors?.minlength"
              appTranslate="settings.messages.validate.firstname.minlength"
            >
              Twoje imię musi mieć przynajmniej 1 literę
            </mat-error>

            <mat-error
              class="form-text text-danger"
              *ngIf="settingsForm.get('firstName')?.errors?.maxlength"
              appTranslate="settings.messages.validate.firstname.maxlength"
            >
              Twoje imię nie może być dłuższe niż 50 liter
            </mat-error>
          </div>
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label appTranslate="settings.form.lastname">Nazwisko</mat-label>
            <input
              matInput
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              placeholder="{{ 'settings.form.lastname.placeholder' | translate }}"
              formControlName="lastName"
              data-cy="lastname"
            />
          </mat-form-field>

          <div
            *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)"
          >
            <mat-error *ngIf="settingsForm.get('lastName')?.errors?.required" appTranslate="settings.messages.validate.lastname.required">
              Twoje nazwisko jest wymagane.
            </mat-error>

            <mat-error *ngIf="settingsForm.get('lastName')?.errors?.minlength" appTranslate="settings.messages.validate.lastname.minlength">
              Twoje nazwisko musi mieć przynajmniej 1 literę
            </mat-error>

            <mat-error *ngIf="settingsForm.get('lastName')?.errors?.maxlength" appTranslate="settings.messages.validate.lastname.maxlength">
              Twoje nazwisko nie może być dłuższe niż 50 liter
            </mat-error>
          </div>
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label appTranslate="global.form.email.label">Email</mat-label>
            <input
              matInput
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="email"
            />
          </mat-form-field>

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <mat-error *ngIf="settingsForm.get('email')?.errors?.required" appTranslate="global.messages.validate.email.required">
              Twój email jest wymagany.
            </mat-error>

            <mat-error *ngIf="settingsForm.get('email')?.errors?.email" appTranslate="global.messages.validate.email.invalid">
              Twój email jest błędny.
            </mat-error>

            <mat-error *ngIf="settingsForm.get('email')?.errors?.minlength" appTranslate="global.messages.validate.email.minlength">
              Twój email musi mieć przynajmniej 5 znaków
            </mat-error>

            <mat-error *ngIf="settingsForm.get('email')?.errors?.maxlength" appTranslate="global.messages.validate.email.maxlength">
              Twój email nie może być dłuższy niż 50 znaków
            </mat-error>
          </div>
        </div>

        <div class="mb-3" *ngIf="languages && languages.length > 0">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label appTranslate="settings.form.language">Język</mat-label>
            <mat-select id="langKey" formControlName="langKey" data-cy="langKey">
              <mat-option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="settingsForm.invalid"
          class="btn btn-primary"
          appTranslate="settings.form.button"
          data-cy="submit"
        >
          Zapisz
        </button>
      </form>
    </div>
  </div>
</div>
