<div>
  <div class="flex justify-center">
    <div class="w-fit md:w-1/2" *ngIf="account$ | async as account">
      <h2 appTranslate="password.title" [translateValues]="{ username: account.login }">
        Hasło dla [<strong>{{ account.login }}</strong
        >]
      </h2>

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label appTranslate="global.form.currentpassword.label">Aktualne hasło</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              id="currentPassword"
              name="currentPassword"
              placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
              formControlName="currentPassword"
              data-cy="currentPassword"
            />
          </mat-form-field>

          <div
            *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            "
          >
            <mat-error
              *ngIf="passwordForm.get('currentPassword')?.errors?.required"
              appTranslate="global.messages.validate.newpassword.required"
            >
              Twoje hasło jest wymagane.
            </mat-error>
          </div>
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label appTranslate="global.form.newpassword.label">Nowe hasło</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
              formControlName="newPassword"
              data-cy="newPassword"
            />
          </mat-form-field>

          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <mat-error
              *ngIf="passwordForm.get('newPassword')?.errors?.required"
              appTranslate="global.messages.validate.newpassword.required"
            >
              Twoje hasło jest wymagane.
            </mat-error>

            <mat-error
              *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
              appTranslate="global.messages.validate.newpassword.minlength"
            >
              Twoje hasło powinno mieć minimum 4 znaki
            </mat-error>

            <mat-error
              *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
              appTranslate="global.messages.validate.newpassword.maxlength"
            >
              Twoje hasło nie może być dłuższe niż 50 znaków
            </mat-error>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label appTranslate="global.form.confirmpassword.label">Potwierdź nowe hasło</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
              formControlName="confirmPassword"
              data-cy="confirmPassword"
            />
          </mat-form-field>

          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <mat-error
              *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
              appTranslate="global.messages.validate.confirmpassword.required"
            >
              Potwierdzenie hasła jest wymagane.
            </mat-error>

            <mat-error
              *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
              appTranslate="global.messages.validate.confirmpassword.minlength"
            >
              Potwierdzenie hasła powinno mieć minimum 4 znaki
            </mat-error>

            <mat-error
              *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
              appTranslate="global.messages.validate.confirmpassword.maxlength"
            >
              Potwierdzenie hasła nie powinno być dłuższe niż 50 znaków
            </mat-error>
          </div>
          <mat-error *ngIf="passwordForm.errors?.notSame" appTranslate="global.messages.error.dontmatch">
            Hasło i potwierdzenie nie zgadzają się!
          </mat-error>
        </div>

        <button
          id="password-submit"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="passwordForm.invalid"
          class="btn btn-primary"
          appTranslate="password.form.button"
          data-cy="submit"
        >
          Zapisz
        </button>
      </form>
    </div>
  </div>
</div>
