<div [class.dark]="account?.darkMode" [class.light]="!account?.darkMode" class="h-full">
  <app-alert></app-alert>
  <alert-error></alert-error>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" position="end"> My sidebar</mat-sidenav>
    <mat-sidenav-content>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <app-navbar (sidenavToggle)="sidenav.toggle()"></app-navbar>
      <main>
        <mat-card class="p-2">
          <router-outlet></router-outlet>
        </mat-card>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
