<div xmlns="http://www.w3.org/1999/html">
  <h2>
    <span id="user-management-page-heading" appTranslate="userManagement.home.title" data-cy="userManagementPageHeading">Użytkownicy</span>

    <div class="d-flex justify-content-end">
      <button mat-raised-button (click)="reloadAccounts()">
        <mat-icon>sync</mat-icon>
        <span appTranslate="userManagement.home.refreshListLabel">Refresh list</span>
      </button>
      <button mat-raised-button color="primary" [routerLink]="['./new']">
        <mat-icon>add</mat-icon>
        <span appTranslate="userManagement.home.createLabel">Stwórz nowego użytkownika</span>
      </button>
    </div>
  </h2>
  <div *ngIf="page$ | async as page" class="mt-2">
    <table *ngIf="page.content" mat-table [dataSource]="page.content" matSort (matSortChange)="sortChange($event)">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span appTranslate="global.field.id">ID</span></th>
        <td mat-cell *matCellDef="let account">
          <a [routerLink]="['./', account.login, 'view']">{{ account.id }}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span appTranslate="userManagement.login">Login</span></th>
        <td mat-cell *matCellDef="let account">{{ account.login }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span appTranslate="userManagement.email">Email</span></th>
        <td mat-cell *matCellDef="let account" class="">
          {{ account.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="activated">
        <th mat-header-cell *matHeaderCellDef><span appTranslate="userManagement.activated">Aktywny</span></th>
        <td mat-cell *matCellDef="let account">
          <mat-slide-toggle [checked]="account.activated" [disabled]="!currentAccount || currentAccount.login === account.login">
            {{ (account.activated ? 'userManagement.activated' : 'userManagement.deactivated') | translate }}
          </mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="langKey">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span appTranslate="userManagement.langKey">Język</span></th>
        <td mat-cell *matCellDef="let account">{{ account.langKey }}</td>
      </ng-container>
      <ng-container matColumnDef="authorities">
        <th mat-header-cell *matHeaderCellDef><span appTranslate="userManagement.profiles">Profile</span></th>
        <td mat-cell *matCellDef="let account">
          <mat-chip *ngFor="let authority of account.authorities" class="mr-2" color="primary">
            {{ 'enum.' + authority | translate }}
          </mat-chip>
        </td>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span appTranslate="userManagement.createdDate">Data stworzenia</span>
        </th>
        <td mat-cell *matCellDef="let account">{{ account.createdDate | date : 'dd/MM/yy HH:mm' }}</td>
      </ng-container>
      <ng-container matColumnDef="lastModifiedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span appTranslate="userManagement.lastModifiedDate">Data edycji</span></th>
        <td mat-cell *matCellDef="let account">{{ account.lastModifiedDate | date : 'dd/MM/yy HH:mm' }}</td>
      </ng-container>
      <ng-container matColumnDef="lastModifiedBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span appTranslate="userManagement.lastModifiedBy">Edytowany przez</span></th>
        <td mat-cell *matCellDef="let account">{{ account.lastModifiedBy }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let account">
          <div class="btn-group">
            <button mat-stroked-button type="submit" [routerLink]="['./', account.login, 'view']" class="btn btn-info btn-sm">
              <mat-icon>visibility</mat-icon>
              <span class="d-none d-md-inline" appTranslate="entity.action.view">Widok</span>
            </button>
            <button
              mat-stroked-button
              type="submit"
              [routerLink]="['./', account.login, 'edit']"
              queryParamsHandling="merge"
              class="btn btn-primary btn-sm"
            >
              <mat-icon>edit</mat-icon>
              <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edytuj</span>
            </button>
            <button
              type="button"
              (click)="deleteUser(account)"
              mat-stroked-button
              color="warn"
              [disabled]="!currentAccount || currentAccount.login === account.login"
            >
              <mat-icon>delete</mat-icon>
              <span class="d-none d-md-inline" appTranslate="entity.action.delete">Usuń</span>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[1, 5, 10, 20]"
      [pageSize]="page.size"
      [pageIndex]="page.number"
      [length]="page.totalElements"
      (page)="pageChange($event)"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
