<div>
  <div class="flex justify-center">
    <div class="col-md-8">
      <h1 appTranslate="register.title" data-cy="registerTitle">Rejestracja</h1>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="w-fit md:w-1/2">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm">
        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label appTranslate="global.form.username.label">Nazwa użytkownika </mat-label>
            <input
              matInput
              type="text"
              id="login"
              name="login"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              formControlName="login"
              data-cy="username"
              #login
            />
          </mat-form-field>
          <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
            <mat-error *ngIf="registerForm.get('login')?.errors?.required" appTranslate="register.messages.validate.login.required">
              Twój login jest wymagany.
            </mat-error>
            <mat-error *ngIf="registerForm.get('login')?.errors?.minlength" appTranslate="register.messages.validate.login.minlength">
              Twój login musi mieć długość co najmniej 1 znaku
            </mat-error>
            <mat-error *ngIf="registerForm.get('login')?.errors?.maxlength" appTranslate="register.messages.validate.login.maxlength">
              Twój login nie może być dłuższy niż 50 znaków
            </mat-error>
            <mat-error *ngIf="registerForm.get('login')?.errors?.pattern" appTranslate="register.messages.validate.login.pattern">
              Your username is invalid.
            </mat-error>
          </div>
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label class="form-label" for="email" appTranslate="global.form.email.label">Email</mat-label>
            <input
              matInput
              type="email"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="email"
            />
          </mat-form-field>

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <mat-error *ngIf="registerForm.get('email')?.errors?.required" appTranslate="global.messages.validate.email.required">
              Twój email jest wymagany.
            </mat-error>

            <mat-error *ngIf="registerForm.get('email')?.errors?.invalid" appTranslate="global.messages.validate.email.invalid">
              Twój email jest błędny.
            </mat-error>

            <mat-error *ngIf="registerForm.get('email')?.errors?.minlength" appTranslate="global.messages.validate.email.minlength">
              Twój email musi mieć przynajmniej 5 znaków
            </mat-error>

            <mat-error *ngIf="registerForm.get('email')?.errors?.maxlength" appTranslate="global.messages.validate.email.maxlength">
              Twój email nie może być dłuższy niż 50 znaków
            </mat-error>
          </div>
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label appTranslate="global.form.newpassword.label">Nowe hasło </mat-label>
            <input
              matInput
              type="password"
              id="password"
              name="password"
              placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
              formControlName="password"
              data-cy="firstPassword"
            />
          </mat-form-field>
          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <mat-error *ngIf="registerForm.get('password')?.errors?.required" appTranslate="global.messages.validate.newpassword.required">
              Twoje hasło jest wymagane.
            </mat-error>

            <mat-error
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.minlength"
              appTranslate="global.messages.validate.newpassword.minlength"
            >
              Twoje hasło powinno mieć minimum 4 znaki
            </mat-error>

            <mat-error
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.maxlength"
              appTranslate="global.messages.validate.newpassword.maxlength"
            >
              Twoje hasło nie może być dłuższe niż 50 znaków
            </mat-error>
          </div>
          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
        </div>
        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label class="form-label" for="confirmPassword" appTranslate="global.form.confirmpassword.label"
              >Potwierdź nowe hasło
            </mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
              formControlName="confirmPassword"
              data-cy="secondPassword"
            />
          </mat-form-field>

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <mat-error
              *ngIf="registerForm.get('confirmPassword')?.errors?.required"
              appTranslate="global.messages.validate.confirmpassword.required"
            >
              Potwierdzenie hasła jest wymagane.
            </mat-error>

            <mat-error
              *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
              appTranslate="global.messages.validate.confirmpassword.minlength"
            >
              Potwierdzenie hasła powinno mieć minimum 4 znaki
            </mat-error>

            <mat-error
              *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
              appTranslate="global.messages.validate.confirmpassword.maxlength"
            >
              Potwierdzenie hasła nie powinno być dłuższe niż 50 znaków
            </mat-error>
          </div>
          <mat-error *ngIf="registerForm.errors?.notSame" appTranslate="global.messages.error.dontmatch">
            Hasło i potwierdzenie nie zgadzają się!
          </mat-error>
        </div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="registerForm.invalid"
          appTranslate="register.form.button"
          data-cy="submit"
        >
          Zarejestruj
        </button>
      </form>

      <mat-card class="p-3">
        <span appTranslate="global.messages.info.authenticated.prefix">Jeśli chcesz się </span>
        <a routerLink="/login" appTranslate="global.messages.info.authenticated.link">zalogować</a
        ><span appTranslate="global.messages.info.authenticated.suffix"
          >, możesz spróbować któregoś z domyślnych kont:<br />- Administrator (login="admin" i hasło="admin") <br />- Użytkownik
          (login="user" i hasło="user").</span
        >
      </mat-card>
    </div>
  </div>
</div>
