<app-alert></app-alert>
<div>
  <div class="flex justify-center">
    <div class="w-fit md:w-1/2">
      <h1 appTranslate="login.title" data-cy="loginTitle">Autoryzacja</h1>
      <div class="alert alert-danger" *ngIf="authenticationError" appTranslate="login.messages.error.authentication" data-cy="loginError">
        <strong>Nieudane logowanie!</strong> Sprawdź swoje dane logowania i spróbuj ponownie.
      </div>
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label>{{ 'global.form.username.label' | translate }}</mat-label>
            <input
              matInput
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              formControlName="username"
              #username
              data-cy="username"
            />
          </mat-form-field>
        </div>
        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label>{{ 'login.form.password' | translate }}</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="{{ 'login.form.password.placeholder' | translate }}"
              formControlName="password"
              data-cy="password"
            />
          </mat-form-field>
        </div>
        <div class="form-check">
          <mat-checkbox class="example-margin" formControlName="rememberMe">
            {{ 'login.form.rememberme' | translate }}
          </mat-checkbox>
        </div>

        <button type="submit" mat-raised-button color="primary" appTranslate="login.form.button" data-cy="submit">Zaloguj</button>
      </form>
      <div class="mt-3 alert alert-warning">
        <a class="alert-link" routerLink="/account/reset/request" appTranslate="login.password.forgot" data-cy="forgetYourPasswordSelector"
          >Zapomniałeś swojego hasła?</a
        >
      </div>

      <div class="alert alert-warning">
        <span appTranslate="global.messages.info.register.noaccount">Nie masz jeszcze konta?</span>
        <a class="alert-link" routerLink="/account/register" appTranslate="global.messages.info.register.link">Zarejestruj się</a>
      </div>
    </div>
  </div>
</div>
