<alert-error></alert-error>
<app-alert></app-alert>
<div class="row">
  <div class="col-md-9 offset-md-3">
    <h1 class="display-4">
      <span>{{ 'home.title' | translate }}</span> (AppBase)
    </h1>

    <p class="lead" appTranslate="home.subtitle">To jest twoja strona domowa</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" appTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >Jesteś zalogowany jako użytkownik "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span appTranslate="global.messages.info.authenticated.prefix">Jeśli chcesz się </span>
        <a class="alert-link" (click)="login()" appTranslate="global.messages.info.authenticated.link">zalogować</a
        ><span appTranslate="global.messages.info.authenticated.suffix"
          >, możesz spróbować któregoś z domyślnych kont:<br />- Administrator (login="admin" i hasło="admin") <br />- Użytkownik
          (login="user" i hasło="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span appTranslate="global.messages.info.register.noaccount">Nie masz jeszcze konta?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" appTranslate="global.messages.info.register.link">Zarejestruj się</a>
      </div>
    </div>
  </div>
  <div class="col-md-9 offset-md-3">
    <h2>Accounts list</h2>
    <div>
      <button mat-raised-button (click)="loadUsers()">Get Accounts</button>
      <mat-list>
        <mat-list-item *ngFor="let account of accounts$ | async">
          <mat-icon aria-hidden="false" aria-label="account icon">person</mat-icon>
          {{ account.firstName }} ({{ account.lastName }})
        </mat-list-item>
      </mat-list>
      <div *ngIf="loading">Loading...</div>
    </div>
  </div>
</div>
