<h4 appTranslate="metrics.jvm.memory.title">Pamięć</h4>
<div *ngIf="!updating && jvmMemoryMetrics">
  <div *ngFor="let entry of jvmMemoryMetrics | keyvalue" class="mb-1">
    <span *ngIf="entry.value.max !== -1; else other">
      <span>{{ entry.key }}</span>
      ({{ entry.value.used / 1048576 | number : '1.0-0' }}M / {{ entry.value.max / 1048576 | number : '1.0-0' }}M)
    </span>

    <div class="mt-1">Committed : {{ entry.value.committed / 1048576 | number : '1.0-0' }}M</div>

    <ng-template #other>
      <span
        ><span>{{ entry.key }}</span> {{ entry.value.used / 1048576 | number : '1.0-0' }}M</span
      >
    </ng-template>
    <div class="relative">
      <mat-progress-bar mode="determinate" [value]="(100 * entry.value.used) / entry.value.max"></mat-progress-bar>
      <span class="absolute top-0.5">{{ (entry.value.used * 100) / entry.value.max | number : '1.0-0' }}%</span>
    </div>
  </div>
</div>
