<div class="flex justify-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span appTranslate="userManagement.detail.title">Użytkownik</span> [<strong>{{ user.login }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span appTranslate="userManagement.login">Login</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <mat-chip-option *ngIf="user.activated" class="px-3" color="primary" selected appTranslate="userManagement.activated"
            >Aktywny
          </mat-chip-option>
          <mat-chip-option *ngIf="!user.activated" class="px-3" appTranslate="userManagement.deactivated">Nieaktywny </mat-chip-option>
        </dd>

        <dt><span appTranslate="userManagement.firstName">Imię</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span appTranslate="userManagement.lastName">Nazwisko</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span appTranslate="userManagement.email">Email</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span appTranslate="userManagement.langKey">Język</span></dt>
        <dd>{{ user.langKey }}</dd>

        <dt><span appTranslate="userManagement.createdBy">Utworzony przez</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span appTranslate="userManagement.createdDate">Data utworzenia</span></dt>
        <dd>{{ user.createdDate | date : 'dd/MM/yy HH:mm' }}</dd>

        <dt><span appTranslate="userManagement.lastModifiedBy">Zmodyfikowany przez</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span appTranslate="userManagement.lastModifiedDate">Data modyfikacji</span></dt>
        <dd>{{ user.lastModifiedDate | date : 'dd/MM/yy HH:mm' }}</dd>

        <dt><span appTranslate="userManagement.profiles">Profile</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <mat-chip class="mb-1">{{ 'enum.' + authority | translate }}</mat-chip>
            </li>
          </ul>
        </dd>
      </dl>

      <button mat-stroked-button type="submit" routerLink="../../">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Wstecz</span>
      </button>
    </div>
  </div>
</div>
