<div>
  <div class="flex justify-center">
    <div class="w-fit md:w-1/2">
      <h1 appTranslate="reset.request.title">Zresetuj swoje hasło</h1>
      <h3>
        <span appTranslate="reset.request.messages.info">Wpisz email użyty podczas rejestracji.</span>
      </h3>

      <form name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-1/2">
            <mat-label appTranslate="global.form.email.label">Email</mat-label>
            <input
              matInput
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />
          </mat-form-field>

          <div
            *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            "
          >
            <mat-error
              *ngIf="resetRequestForm.get('email')?.errors?.required"
              appTranslate="global.messages.validate.email.required"
            >
              Twój email jest wymagany.
            </mat-error>

            <mat-error
              *ngIf="resetRequestForm.get('email')?.errors?.email"
              appTranslate="global.messages.validate.email.invalid"
            >
              Twój email jest błędny.
            </mat-error>

            <mat-error
              *ngIf="resetRequestForm.get('email')?.errors?.minlength"
              appTranslate="global.messages.validate.email.minlength"
            >
              Twój email musi mieć przynajmniej 5 znaków
            </mat-error>

            <mat-error
              *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
              appTranslate="global.messages.validate.email.maxlength"
            >
              Twój email nie może być dłuższy niż 50 znaków
            </mat-error>
          </div>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="resetRequestForm.invalid"
          class="btn btn-primary"
          appTranslate="reset.request.form.button"
          data-cy="submit"
        >
          Reset hasła
        </button>
      </form>
    </div>
  </div>
</div>
